body {
    background-color: grey;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}

.img1 {
    width: 300px;
    height: 250px;
    border: 5px solid azure;
    margin: 9px;
}

.img2 {
    width: 300px;
    height: 250px;
    border: 5px solid azure;
    margin: 9px;
}

.img3 {
    width: 300px;
    height: 250px;
    border: 5px solid azure;
    margin: 9px;
}

.img4 {
    width: 300px;
    height: 250px;
    border: 5px solid azure;
    margin: 9px;
}

.img5 {
    width: 300px;
    height: 250px;
    border: 5px solid azure;
    margin: 9px;
}

.img6 {
    width: 300px;
    height: 250px;
    border: 5px solid azure;
    margin: 9px;
}

.img7 {
    width: 300px;
    height: 250px;
    border: 5px solid azure;
    margin: 9px;
}

.img8 {
    width: 300px;
    height: 250px;
    border: 5px solid azure;
    margin: 9px;
}

.img9 {
    width: 300px;
    height: 250px;
    border: 5px solid azure;
    margin: 9px;

}

.img10 {
    width: 300px;
    height: 250px;
    border: 5px solid azure;
    margin: 9px;
}

.img11 {
    width: 300px;
    height: 250px;
    border: 5px solid azure;
    margin: 9px;
}

.img12 {
    width: 300px;
    height: 250px;
    border: 5px solid azure;
    margin: 9px;
}